<div role="dialog" data-id={{this.dataId}} data-modal-show={{this.dataModalShow}} {{did-insert this.onDidInsert}}>
  <@model.componentName @model={{@model}} @changeVisibility={{this.changeVisibility}} @element={{this.element}} />
</div>
